// colors
$color-primary: #12141D;
$color-white:#fff;


$color-grey-dark:#282B37;
$color-grey-light:#646776;


$color-secondary:#CC8460;
$color-secondary-light:#DBA88E;



//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

//font
$default-font-size:1.6rem;

//border radius
$border-radius:3px;
