.form {

  &__input {
    -webkit-appearance: none;
    padding: 1.2rem 1rem;
    background-color:$color-primary;
    font-size: 1.8rem;
    border:none;
    border-bottom: 3px solid $color-white;
    width:60%;
    display:inline-block;
    color:$color-secondary;


      &::-webkit-input-placeholder {
        color:$color-grey-light;
      }

      &:focus {
        outline: none;
        border-bottom: 3px solid $color-secondary;
        color:$color-white;
      }

      @include respond(phone){
      width:100%;
      }

  }

  &__category span {
    color:$color-secondary;
    margin : 0 1.5rem;


      @include respond(phone){
      margin:0;
      padding: 1rem 0;

      }
  }

  &__category {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    margin-left:-22rem;

    &--notes {
      cursor: pointer;
      display: inline-block;
      color:red;
      letter-spacing: .3rem;
      text-decoration: none;
      color: $color-grey-light;
      text-transform: uppercase;

      &:focus {
        color:$color-white;
      }

      @include respond(phone){
      display: block;
      padding : 1.5rem 0;


      }

    }


        &--chords{
          display: inline-block;
          padding: 0 1.4rem;
          letter-spacing: .3rem;
          text-decoration: none;
          color: $color-grey-light;
          text-transform: uppercase;

          &:focus {
            color:$color-white;
          }

          @include respond(phone){
          display:block;
          padding:0;
          }

        }

    @include respond(phone){
    display:block;
    margin-left:0;
    margin-top:4rem;

    }


  }





  &__button {
    border: none;
    background-color: $color-primary;
    margin-left: -3rem;
    cursor: pointer;

    &:hover img svg {
      fill: red;
    }

    &:focus {
      outline: none;
    }
  }
}
