
*,
*::after,
*::before {
	margin : 0;
	padding: 0;
	box-sizing : inherit;

}

html {
	font-size:62.5%; // 1rem = 10px -> 10px/16px= 62.5%
 /*
	@include respond(phone) { not necessary
		font-size:50%;
	}
*/
	@include respond(tab-land) { // width <1200px
		font-size:56.25%;  // 1 rem = 8px/16px = 50%
	}

	@include respond(tab-port) { // width <900px
		font-size:50%; // 1rem = 9px / 16px = 56.25%
	}

	@include respond(big-desk) {
		font-size:75%; // 1rem = 12px 12/16 = 75%
	}
}

body {
	font-family: "europa", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	color: $color-white;
	box-sizing: border-box;
	background-color: $color-primary;
	height:100vh;

	@include respond(tab-port) { // width <900px
		padding:0;
	}

	::selection {
		background-color: $color-white;
		color: $color-primary;
	}

}

svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display:none;
}
